#  SET FUNCTION

# SET ()

* The set() method in Python is used to create a set object. Sets are unordered collections of unique elements. They're useful for removing duplicates from data.

In [3]:
my_list = [1, 2, 2, 3, 4, 4, 1]

In [4]:
print(my_list)

[1, 2, 2, 3, 4, 4, 1]

In [5]:
set(my_list)

{1, 2, 3, 4}

# SET method

# ADD ()

* Add an item to set use the  add() method

In [20]:

set = {'chiku', 'cocount','apple'}

In [17]:
set

{'apple', 'chiku', 'cocount'}

In [18]:
set.add('banana')

In [19]:
set

{'apple', 'banana', 'chiku', 'cocount'}

# CLEAR ()

* Remove all the elements from the set.

In [ ]:
set = {'chiku', 'cocount','apple'}

In [21]:
print(set)

{'chiku', 'cocount', 'apple'}

In [22]:
set.clear()

In [23]:
print(set)

set()

# COPY ()

* Returns a copy of the set.

In [39]:
set = {'chiku', 'cocount','apple'}

In [26]:
print(set)

{'chiku', 'cocount', 'apple'}

In [27]:
set.copy()

{'apple', 'chiku', 'cocount'}

# DIFFERENCE ()

* The difference() method returns a set that contains the difference between two sets.

In [35]:
set1 = {'chiku', 'cocount','apple'}
set2 = {'xyz','abc','chiku'}

In [33]:
set1.difference(set2)

{'apple', 'cocount'}

# DIFFERENCE UPDATE ()

* The difference update () removes the items in this set that are also inculded in another,specified set.

In [43]:
set1 = {'chiku', 'cocount','apple'}
set2 = {'xyz','abc','chiku'}

In [37]:
set1.difference_update(set2)

In [38]:
print(set1)

{'cocount', 'apple'}

# DISCARD ()

* The discard () remove the specified item from set .

In [65]:
set = {'chiku', 'cocount','apple'}

In [40]:
set

{'apple', 'chiku', 'cocount'}

In [41]:
set.discard('cocount')

In [42]:
print (set)

{'chiku', 'apple'}

# INTERSECTION ()

* The intersection () method returns a set that contains the similarity between two or more sets.

In [49]:
set1 = {'chiku', 'cocount','apple'}
set2 = {'xyz','abc','chiku'}

In [44]:
set1.intersection(set2)

{'chiku'}

# INTERSECTION_UPDATE ()

* The intersection_update () method removes the items that is not present in both sets(or in allsets if the comparison in done between more than tow sets).

In [48]:
set1 = {'chiku', 'cocount','apple'}
set2 = {'xyz','abc','cocount'}

In [46]:
set1.intersection_update(set2)

In [47]:
print(set1)

{'cocount'}

# ISDISJOiNT ()

* The isdisjoint () method returns true if none of the items are present in bot sets,otherwise it returns False.

In [84]:
set1 = {'chiku', 'cocount','apple'}
set2 = {'xyz','abc','cocount'}

In [51]:
set.isdisjoint(set2)

False

In [52]:
set1 = {'chiku', 'cocount','apple'}
set2 = {'xyz','abc','123'}

In [53]:
set.isdisjoint(set2)

True

# ISSUBSET ()

* The issubset () method returns true if all items in the set exists in the specified set ,otherwise it returns fales.

In [59]:
x = {'a','b','c'}
y = {'f','e','d','c','b','a'}

In [58]:
x.issubset(y)

True

# ISSUPERSET ()

* The issuperset () method returns true if all items in the specified aet exists in the orginal set, otherwise it returns fales.

In [64]:
x = {'f','e','d','c','b','a'}
y = {'a','b','c'}

In [61]:
x.issuperset(y)

True

In [62]:
x = {'f','e','d','c','b'}
y = {'a','b','c'}

In [63]:
x.issuperset(y)

False

# POP ()

* The pop () method removes a random items from the set .

In [94]:
set = {'chiku', 'cocount','apple'}

In [73]:
set.pop()

'chiku'

In [74]:
set

{'apple', 'cocount'}

# REMOVE ()

* The remove() method removes the specified element from set.

In [80]:
set = {'chiku', 'cocount','apple'}

In [81]:
set

{'apple', 'chiku', 'cocount'}

In [82]:
set.remove('chiku')

In [83]:
set

{'apple', 'cocount'}

# SYMMETRIC_DIFFERENCE ()

* The symmetric_difference () method returns a set that contains all items from both set,but not the items that are persent in both sets.

In [91]:
set1 = {'chiku', 'cocount','apple'}
set2 = {'xyz','abc','cocount'}

In [85]:
set1.symmetric_difference(set2)

{'abc', 'apple', 'chiku', 'xyz'}

# SYMMETRIC_DIFFERENCE_UPDATE ()

* The symmetric_difference_update () method update the original set by removing that are present in both sets,and inserting the other items.

In [88]:
set1 = {'chiku', 'cocount','apple'}
set2 = {'xyz','abc','chiku'}

In [89]:
set1.symmetric_difference_update(set2)

In [90]:
set1

{'abc', 'apple', 'cocount', 'xyz'}

# UNION ()

* The union () method returns a set that contains all items from the original set,all items from the speicfied set(s).

In [92]:
set1 = {'chiku', 'cocount','apple'}
set2 = {'xyz','abc','cocount'}

In [93]:
set.union(set2)

{'abc', 'apple', 'cocount', 'xyz'}

# UPDATE ()

* The update() method update the current set,by adding items from another set (or any other iterable).

In [95]:
set1 = {'chiku', 'cocount','apple'}
set2 = {'xyz','abc','cocount'}

In [99]:
set1.update(set2)

In [100]:
print(set1)

{'chiku', 'cocount', 'abc', 'xyz', 'apple'}